.contact-form-container {
    background: #f1f1f1;
    border-radius: 3px;
    display: block;
    height: 80vh;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    top: 20px;
    text-align: center;
    width: 80vw;
}

.contact-page-image {
    width: 130vw;
    position: absolute;
    z-index: -1;
}

.contact-form-container form {
    margin-top: 30px;
}

.contact-text {
    line-height: 140%;
    font-family: 'Roboto', Arial, Helvetica, Arial;
    font-size: 105%;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    width: 300px;
}

.contact-page-form-wrapper {
    margin-top: 20px;
}

.button__contact {
    margin-top: 20px;
}