body {

}

/* For Mobile */
.desktop-nav-wrapper {
    display: none;
}

.header-container {
    background: #000    ;
    padding-bottom: 10px;
}

.header-title {
    bottom: 2px;
    color:#ffffff;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 300;
    float: right;
    margin-bottom: -12.5px;
    margin-right: 50px;
    margin-top: 14px;
    position: relative;
}

.header-title-wrapper::after {
    clear: both;
    display: table;
    content: "";
}

.nav-button-mobile-wrapper {
    cursor: pointer;
}

.contact-link {
    font-family: 'Roboto', Helvetica;
    left: 70px;
    font-size: 18px;
    margin-top: -6.5px;
    position: absolute;
}

.nav-button {
    bottom: 5px;
    margin-left: 20px;
    margin-top: -15px;
    position: relative;
    width: 39px;
}

.nav-line {
    background-color: #ffffff;
    height: 2px;
    margin-top: 6px;
    width: 39px;
}

.nav-line-1 {
    transform: rotate(50deg);
    position: relative;
    top: 7.5px;
}

.nav-line-2 {
    transform: rotate(130deg);
    margin-bottom: 8px;
}


.mobile-nav-wrapper {
    position: absolute;
}
.mobile-nav-container {
    background-color: #FFF;
    height: 100vh;
    margin-top: -10px;
    width: 100vw;
    padding-top: 0px;
    position: relative;
    z-index: 900;
}

.mobile-nav li {
    list-style: none;
    font-size: 160%;
    font-family: 'Roboto', Helvetica;
    margin-top: 20px;
    position: relative;
    right: 30px;
    top: 10px;
    text-align: center;
}

.mobile-nav-wrapper__toggle {
    display: none;
}

@media only screen and (min-width: 768px) {
    .desktop-nav-wrapper {
        display: block;
    }
    .nav-button-mobile-wrapper, .mobile-nav-container {
        display: none;
    }
    .header-title {
        top: 3px;
    }

    .desktop-nav-container {
        margin-top: -23px;
    }

    .desktop-nav-container ul li {
        display: inline-block;
        font-family: 'Roboto', Helvetica, Arial;
        margin-right: 25px;
    }




    /* For desktop: */
    // .col-1 {width: 8.33%;}
    // .col-2 {width: 16.66%;}
    // .col-3 {width: 25%;}
    // .col-4 {width: 33.33%;}
    // .col-5 {width: 41.66%;}
    // .col-6 {width: 50%;}
    // .col-7 {width: 58.33%;}
    // .col-8 {width: 66.66%;}
    // .col-9 {width: 75%;}
    // .col-10 {width: 83.33%;}
    // .col-11 {width: 91.66%;}
    // .col-12 {width: 100%;}
  }