.homepage {
    background-image: url('~/images/truck-img');
}

.homepage-container {
    font-family: 'Roboto', Helvetica;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 300px;
}

.carousel-image {
    border-radius: 2px;
    margin-bottom: 45px;
}