.quote-form-container {
    background: #f1f1f1;
    border-radius: 3px;
    display: block;
    height: 90vh;
    min-height: 110%;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
    overflow: unset;
}

.quote-text {
    line-height: 140%;
    font-family: 'Roboto', Arial, Helvetica, Arial;
    font-size: 105%;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80vw;
    text-align: center;
}

.quote-form-container form {
    margin-top: 40px;
}

.quote-form-container h2 {
    margin-top: 20px;
    padding-top: 20px;
}

.quote-form-container button {
    margin-top: 15px;
}

.quote-form-container input:first-child {
    margin-top: 0px;
}

@media only screen and (min-width: 768px) {
    .quote-form-container {
        width: 50vw;
        height: 80vh;
    }

    .quote-form-container input {
        display: block;
        width: 460px;
    }

    .quote-form-container form {
        margin-top: 60px;
    }

    .quote-text {
        line-height: 160%;
        font-size: 115%;
        margin-bottom: 50px;
        margin-top: 30px;
        width: 550px;
    }
}