.truck-form-container {
    background: #f1f1f1;
    display: block;
    height: 110%;
    min-height: 100vh;
    margin: 0 auto;
    width: 80vw;
    padding: 10px 0;
    text-align: center;
}

.truck-form-container select {
    margin-top: 10px;
    width: 217px;
}

.truck-form-container p {
    font-family: 'Roboto', Helvetica, Arial;
    margin: -8px 0;
}

.truck-input::after {

}

.truck-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(27, 27, 27);
    color: #FFF;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    width: 200px;
}

@media only screen and (min-width: 768px) {
    .truck-form-container {
        width: 50vw;
    }

    .truck-form-container input {
        display: block;
        width: 460px;
    }

    .truck-form-container select {
        width: 480px;
        margin-top: 0;
    }
}